<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My MTV PAGE</title>
    <link rel="stylesheet" href="{% static "css/mystlyesheet.css" %}"/>
  </head>
  <body>
      <h1>I am coming from index.html file</h1>
#      {{insert_me}}
      <h2>inserting static image and using css stylesheet for this line to make red</h2>
#      <img src="{% static "images/neha.jpg" %}" alt="Uh,oh pic was not found!">
      <h3>Displaying your access records</h3>
      <div class="accesslist">
        {% if access_records %}
            <table>
              <thead>
                <th>Site Name</th>
                <th>Date Accessed</th>
              </thead>

              {% for acc in access_records %}
                <tr>
                  <td>{{ acc.name }}</td>
                  <td>{{ acc.date }}</td>
                </tr>
              {% endfor %}
          </table>

        {% else %}
          <p>No Access Records. Table Not Created.</p>
        {% endif %}
      </div>

  </body>
</html>
